@import './base.css';
@import 'tailwindcss';
@import 'primeicons/primeicons.css';
@import '@kouts/vue-modal/dist/vue-modal.css';

:root {
  --color-button: var(--color-background-mute);
  --color-button-hover: #eeccaa;
  --header-height: 2.2rem;
}

#app > header {
  height: var(--header-height);
}

.h-screen-minus-header {
  height: calc(100vh - var(--header-height));
}

.max-h-screen-minus-header {
  max-height: calc(100vh - var(--header-height));
}

.fully-centered-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

#app > main {
  xheight: calc(100vh - var(--header-height));
  xwidth: 100vw;
  xmax-width: 100vw;
  xoverflow-y: auto;
}

h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-heading);
}

h2 {
  font-size: 1.4rem;
  font-weight: 500;
}

button {
  cursor: pointer;
}

button.standard-button,
input[type='submit'] {
  border: 1px solid gray;
  border-radius: 0.3rem;
  padding: 0.2rem 0.6rem;
  background-color: var(--color-button);
  color: var(--color-text);
}

button.standard-button:hover,
input[type='submit']:hover {
  background-color: var(--color-button-hover);
}

h2.list {
  font-size: 1rem;
  font-weight: 500;
}

.bg-task-card {
  background-color: var(--color-gray-100);
}
a.bg-task-card:hover {
  background-color: var(--color-gray-200);
}

border-color-task-card {
  border-color: black;
}

.font-task-card-title {
  --tw-font-weight: var(--font-weight-semibold) /* 600 */;
  font-weight: var(--font-weight-semibold) /* 600 */;
}

.text-link {
  color: blue;
  text-decoration: underline;
}

li.flex.bullets {
  position: relative;
  padding-left: 1.2em; /* Make space for the bullet */
}

li.flex.bullets::before {
  content: '•'; /* You can change this to any symbol */
  position: absolute;
  left: 0;
  top: 0.25rem;
  color: black; /* Bullet color */
  font-size: 1em;
  line-height: 1;
}
